/.dep.inc
/Makefile
/nbproject/
/core
*.exe
Debug/cenAssignment2-Git.log
*.ilk
Debug/cenAssig.0CACB823.tlog/CL.command.1.tlog
*.tlog
*.ipch
*.obj
*.pdb
*.db
*.idb
*.sln
.vs/Assignment2-Git/v15/.suo
*.opendb
cenAssignment2-Git.vcxproj.filters
cenAssignment2-Git.vcxproj
Debug/Assignment2-Git.log
.vs/cenAssignment2-Git/v15/.suo
